.movie {
	width: 100%;
	height: 100%;
}

.movie__wrap {
	color: var(--main-text-color);
}

.movie__banner {
	width: 100%;
	height: 500px;
}

.movie__poster-backdrop {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.movie__info-block {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.movie__poster {
	position: absolute;
	left: 50px;
	top: -230px;
	z-index: 1;
	width: 300px;
	height: 460px;
	object-fit: contain;
	aspect-ratio: 2/3;
}

.movie__info {
	grid-column: 2/-1;
	padding: 40px 0;
	min-height: calc(460px / 2);
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-weight: 500;
	font-size: 30px;
	color: var(--primary);
}
