{
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "useTabs": true,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": [
        "**/*.js",
        "**/*.jsx",
        "**/*.ts",
        "**/*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "ignore": [
    "**/node_modules/**"
  ],
  "htmlVoidElements": [
    "img",
    "meta",
    "img"
  ]
}
