.header-search-bar {
	width: 100%;
	min-width: 280px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-search-bar__search-field {
	width: 100%;

	padding: 8px 16px;
	background-color: var(--input-bg);
	border: none;
	border-radius: 5px;

	font-family: var(--basic-font);
	font-size: var(--label-large-size);
	font-weight: var(--label-large-weight);
	line-height: var(--label-large-line-height);
	color: var(--input-text-color);

	transition: all ease 0.2s;
}

.header-search-bar__search-field:focus {
	background-color: var(--input-focus-bg);
	color: var(--input-focus-text-color);
}
