.images-list-wrap {
  overflow: hidden;

  // max-width: 100%;max-widthmax-width
}

.images-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  overflow-x: auto;
  width: 100%;
  gap: 20px;
}

.image-list-image {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.film-item {
  width: min-content;
}

.film-item-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
