.popular-films {
	width: 100%;
}

.popular-films__wrap {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content max-content;
	gap: 30px;
	overflow-x: hidden;
	max-width: 100%;
}

.popular-films__title {
	padding: 0 var(--standard-side-padding);
	color: var(--main-text-color);
}

.popular-films__slider {
	max-width: 100%;
	overflow-x: auto;
}

.popular-films__list {
	width: max-content;
	height: 100%;
	list-style: none;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	padding: 20px 0;
}

.popular-films__item {
	position: relative;
	height: 300px;
	width: 200px;
	background-color: var(--surface);
}

.popular-films__item-info {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 20px;
}

.popular-films__item-title {
	color: var(--main-text-color);
}

.popular-films__item-overvie {
	color: var(--second-text-color);
}

.popular-films__item-poster {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.popular-films__litem-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;
}
